* {
    padding: 0;
    margin: 0;
}

.contaner {
    margin: 1rem auto;
    width: 50%;
    border: 2px solid black;
    text-align: center;
}

.contaner {
    padding: 0 1rem;
}

.contaner h1,
h2 {
    margin: 1rem 0;

}

span {
    width: 100px;
    border: 2px solid;
}


.contaner .d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}